extends ../includes/layout

block main-content
	a(href='https://github.com/kalnee/blendsubs')
		img(id='github-fork-me', src='https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png')
	nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
		.container
			.navbar-header
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span.sr-only
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(class="navbar-brand" href="#")
					img(src="/assets/img/logo/logo-white-large.png" alt="logo" weight="120" height="20")		
	
	.row
		.col-lg-12.text-center
			img(src="/assets/img/logo/logo-full-large.png" alt="logo" id="logo-center")
			p.lead Mix subtitles to practice a foreign language while having fun!
	
	.container
		div(ng-view)

	footer
		div.container
			p.text-muted.text-center.sm-padding-top
				span
					a.github-button(href='https://github.com/kalnee', data-style='mega', data-count-href='/kalnee/followers', data-count-api='/users/kalnee#followers', data-count-aria-label='# followers on GitHub', aria-label='Follow @kalnee on GitHub') Follow @kalnee
				span.sm-margin-left
					a.github-button.sm-margin-left(href='https://github.com/kalnee/blendsubs', data-icon='octicon-star', data-style='mega', data-count-href='/kalnee/blendsubs/stargazers', data-count-api='/repos/kalnee/blendsubs#stargazers_count', data-count-aria-label='# stargazers on GitHub', aria-label='Star kalnee/blendsubs on GitHub') Star
				span.sm-margin-left
					a.github-button.sm-margin-left(href='https://github.com/kalnee/blendsubs/issues', data-icon='octicon-issue-opened', data-style='mega', data-count-api='/repos/kalnee/blendsubs#open_issues_count', data-count-aria-label='# issues on GitHub', aria-label='Issue kalnee/blendsubs on GitHub') Issue
				
