doctype
html
	head
		meta(name="viewport",  content="width=device-width, initial-scale=1.0")
		title BlendSubs | The best way to learn from subtitles
		link(rel="shortcut icon", href="/assets/img/favicon.ico")
		link(rel="icon", href="/assets/img/favicon.ico")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/assets/css/bootstrap-formhelpers.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/vendor/angular-rangeslider/angular.rangeSlider.css")
		link(rel="stylesheet", href="/vendor/ladda-bootstrap/dist/ladda.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
		link(rel="stylesheet", href="/assets/css/site.css")
			
		base(href="/")
	body(ng-app="app")
		block main-content

		include scripts
